
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="form-group ">
            @Html.TextBox("EmailId", null, new { @class = " form-control ", @placeHolder = "EmailId" })
            <div> <button class="btn btn-primary" type="submit">Send otp</button> </div>
        </div>

    }
</div>

